* {
  margin: 0px;
}

#nav-bar {
  width: 100vw;
  height: 5.2vh;
  background-color: #17407b;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.search-wrapper-bar {
  display: flex;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  height: 2.6vh;
  width: 200px;
  background-color: white;
  border-radius: 25px;
  border: 0px;
}
.search-field {
  height: 2.2vh;
  width: 160px;
  margin-left: 5px;
  text-indent: 5px;
  border-radius: 25px;
  border-style: none;
  outline-width: 0;
}

.logo-image {
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5vw;
  cursor: pointer;
}
.fav-icon {
  height: 16px;
  margin-left: 0.2vw;
  cursor: pointer;
}

/** Notificari **/
.notifications-wrapper {
  display: flex;
  align-items: center;
}

.notifications-wrapper-profile {
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5vw;
  cursor: pointer;
}

.notifications-wrapper-notification {
  height: 24px;
  margin-right: 0.5vw;
  cursor: pointer;
}
